# Data Tables and Pandas
The data file is available at [this link](https://ndownloader.figshare.com/files/2292172). These commands were borrowed from two sources: [1](https://www.dataquest.io/blog/pandas-python-tutorial/) and [2](http://pandas.pydata.org//pandas-docs//stable//10min.html). This file

## 1. Read data and look at it

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(filepath_or_buffer="./surveys.csv")

In [3]:
df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [4]:
df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [5]:
df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [6]:
df.shape

(35549, 9)

In [7]:
df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [8]:
df.fillna(value=0, inplace=True)

In [9]:
df.head(6)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,0.0
1,2,7,16,1977,3,NL,M,33.0,0.0
2,3,7,16,1977,2,DM,F,37.0,0.0
3,4,7,16,1977,7,DM,M,36.0,0.0
4,5,7,16,1977,3,DM,M,35.0,0.0
5,6,7,16,1977,1,PF,M,14.0,0.0

In [10]:
df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [11]:
df.shape

(35549, 9)

In [12]:
df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,0,0.0,0.0
35545,35546,12,31,2002,15,AH,0,0.0,0.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,0,0,0.0,0.0

In [13]:
# column names
df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [14]:
# Row names
df.index

RangeIndex(start=0, stop=35549, step=1)

In [15]:
# Actual Data
df.values

array([[1, 7, 16, ..., 'M', 32.0, 0.0],
       [2, 7, 16, ..., 'M', 33.0, 0.0],
       [3, 7, 16, ..., 'F', 37.0, 0.0],
       ...,
       [35547, 12, 31, ..., 'F', 15.0, 14.0],
       [35548, 12, 31, ..., 'M', 36.0, 51.0],
       [35549, 12, 31, ..., 0, 0.0, 0.0]], dtype=object)

In [16]:
df.describe()

,record_id,month,day,year,plot_id,hindfoot_length,weight
count,35549.000000,35549.000000,35549.000000,35549.000000,35549.000000,35549.000000,35549.000000
mean,17775.000000,6.474022,16.105966,1990.475231,11.397001,25.900982,38.751976
std,10262.256696,3.396583,8.256691,7.493355,6.799406,12.985859,37.020201
min,1.000000,1.000000,1.000000,1977.000000,1.000000,0.000000,0.000000
25%,8888.000000,4.000000,9.000000,1984.000000,5.000000,19.000000,16.000000
50%,17775.000000,6.000000,16.000000,1990.000000,11.000000,26.000000,32.000000
75%,26662.000000,9.000000,23.000000,1997.000000,17.000000,36.000000,47.000000
max,35549.000000,12.000000,31.000000,2002.000000,24.000000,70.000000,280.000000

In [17]:
df.sort_values(by='month', ascending=True)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
17076,17077,1,30,1990,14,DM,F,36.0,48.0
13995,13996,1,24,1988,4,DM,M,33.0,36.0
13996,13997,1,24,1988,2,DO,M,35.0,50.0
13997,13998,1,24,1988,11,DM,F,36.0,43.0
13998,13999,1,24,1988,10,PM,F,19.0,17.0
13999,14000,1,24,1988,2,DO,F,35.0,43.0
14000,14001,1,24,1988,11,DM,F,36.0,35.0
14001,14002,1,24,1988,15,RM,F,16.0,9.0
14002,14003,1,24,1988,10,RM,M,16.0,8.0
14003,14004,1,24,1988,10,RM,F,15.0,11.0
23235,23236,1,27,1996,1,DO,M,38.0,42.0
23234,23235,1,27,1996,17,DM,M,37.0,42.0
23233,23234,1,27,1996,2,DM,F,35.0,45.0
23232,23233,1,27,1996,12,DM,F,38.0,44.0
23231,23232,1,27,1996,1,PB,F,26.0,0.0
23230,23231,1,27,1996,22,DM,F,36.0,43.0
23229,23230,1,27,1996,17,DM,M,36.0,51.0
23228,23229,1,27,1996,18,PF,F,16.0,9.0
23227,23228,1,27,1996,21,PP,F,21.0,16.0
23226,23227,1,27,1996,12,DM,F,39.0,51.0
13994,13995,1,24,1988,5,PM,M,21.0,26.0
23225,23226,1,27,1996,1,PB,F,27.0,38.0
13993,13994,1,24,1988,7,RM,F,16.0,9.0
13991,13992,1,24,1988,2,PE,M,22.0,24.0
13972,13973,1,24,1988,13,DM,M,37.0,45.0
13973,13974,1,24,1988,8,DO,F,37.0,56.0
13974,13975,1,24,1988,13,NL,M,35.0,162.0
13975,13976,1,24,1988,3,DM,F,36.0,40.0
13976,13977,1,24,1988,2,NL,F,34.0,161.0
13977,13978,1,24,1988,9,DM,M,36.0,44.0
...,...,...,...,...,...,...,...,...,...
21991,21992,12,5,1994,16,0,0,0.0,0.0
28948,28949,12,22,1998,17,DM,F,35.0,39.0
28954,28955,12,22,1998,17,DM,F,35.0,40.0
28947,28948,12,22,1998,17,DM,M,36.0,37.0
28945,28946,12,22,1998,18,OT,F,20.0,27.0
28944,28945,12,22,1998,18,PB,M,25.0,22.0
28943,28944,12,22,1998,18,OT,F,20.0,26.0
28942,28943,12,22,1998,19,PB,F,26.0,31.0
28941,28942,12,22,1998,19,PB,F,26.0,33.0
28940,28941,12,22,1998,19,PB,F,26.0,29.0
28946,28947,12,22,1998,18,RM,M,17.0,10.0
29008,29009,12,23,1998,13,DM,F,36.0,39.0
28955,28956,12,22,1998,17,DM,M,36.0,45.0
28957,28958,12,22,1998,20,OT,M,20.0,22.0
28971,28972,12,22,1998,23,PM,M,20.0,23.0
28970,28971,12,22,1998,24,PM,M,22.0,29.0
28969,28970,12,22,1998,7,CB,0,0.0,0.0
28968,28969,12,22,1998,22,PB,F,27.0,29.0
28967,28968,12,22,1998,22,DM,M,35.0,38.0
28966,28967,12,22,1998,22,PB,F,26.0,28.0
28956,28957,12,22,1998,20,PM,F,20.0,24.0
28965,28966,12,22,1998,22,DM,F,35.0,45.0
28963,28964,12,22,1998,22,OT,M,20.0,29.0
28962,28963,12,22,1998,22,DM,M,37.0,44.0
28961,28962,12,22,1998,21,PB,F,26.0,32.0
28960,28961,12,22,1998,21,PB,F,27.0,30.0
28959,28960,12,22,1998,21,PB,F,26.0,31.0
28958,28959,12,22,1998,20,AB,0,0.0,0.0
28964,28965,12,22,1998,22,OT,F,20.0,27.0
35548,35549,12,31,2002,5,0,0,0.0,0.0

In [18]:
# refer to a column by label
df['sex'] # can also do df.sex

0        M
1        M
2        F
3        M
4        M
5        M
6        F
7        M
8        F
9        F
10       F
11       M
12       M
13       0
14       F
15       F
16       F
17       M
18       0
19       F
20       F
21       F
22       M
23       M
24       M
25       M
26       M
27       M
28       M
29       F
        ..
35519    0
35520    M
35521    F
35522    F
35523    F
35524    M
35525    F
35526    F
35527    0
35528    F
35529    F
35530    F
35531    F
35532    F
35533    M
35534    M
35535    F
35536    F
35537    F
35538    M
35539    F
35540    F
35541    F
35542    F
35543    0
35544    0
35545    0
35546    F
35547    M
35548    0
Name: sex, Length: 35549, dtype: object

## 2. Slicing and Indexing

In [19]:
# refer to rows by numbers
df[0:3] # goes from 0 to n-1

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,0.0
1,2,7,16,1977,3,NL,M,33.0,0.0
2,3,7,16,1977,2,DM,F,37.0,0.0

In [20]:
df.iloc[0:5,0:5] # equivalent to df.head()

   record_id  month  day  year  plot_id
0          1      7   16  1977        2
1          2      7   16  1977        3
2          3      7   16  1977        2
3          4      7   16  1977        7
4          5      7   16  1977        3

In [21]:
df.iloc[:5,:] # the first 5 rows, and all of the columns for those rows.
df.iloc[:,:] # the entire DataFrame.
df.iloc[5:,5:] # rows from position 5 onwards, and columns from position 5 onwards.
df.iloc[:,0] # the first column, and all of the rows for the column.
df.iloc[9,:] # the 10th row, and all of the columns for that row.

record_id            10
month                 7
day                  16
year               1977
plot_id               6
species_id           PF
sex                   F
hindfoot_length      20
weight                0
Name: 9, dtype: object

In [22]:
df.loc[:,['record_id', 'sex']] # selects all rows for columns named record_id and sex

       record_id sex
0              1   M
1              2   M
2              3   F
3              4   M
4              5   M
5              6   M
6              7   F
7              8   M
8              9   F
9             10   F
10            11   F
11            12   M
12            13   M
13            14   0
14            15   F
15            16   F
16            17   F
17            18   M
18            19   0
19            20   F
20            21   F
21            22   F
22            23   M
23            24   M
24            25   M
25            26   M
26            27   M
27            28   M
28            29   M
29            30   F
...          ...  ..
35519      35520   0
35520      35521   M
35521      35522   F
35522      35523   F
35523      35524   F
35524      35525   M
35525      35526   F
35526      35527   F
35527      35528   0
35528      35529   F
35529      35530   F
35530      35531   F
35531      35532   F
35532      35533   F
35533      35534   M
35534      35535   M
35535      35536   F
35536      35537   F
35537      35538   F
35538      35539   M
35539      35540   F
35540      35541   F
35541      35542   F
35542      35543   F
35543      35544   0
35544      35545   0
35545      35546   0
35546      35547   F
35547      35548   M
35548      35549   0

[35549 rows x 2 columns]

In [23]:
df.iloc[:,[0,6]] # does the same as above by passing as a list

       record_id sex
0              1   M
1              2   M
2              3   F
3              4   M
4              5   M
5              6   M
6              7   F
7              8   M
8              9   F
9             10   F
10            11   F
11            12   M
12            13   M
13            14   0
14            15   F
15            16   F
16            17   F
17            18   M
18            19   0
19            20   F
20            21   F
21            22   F
22            23   M
23            24   M
24            25   M
25            26   M
26            27   M
27            28   M
28            29   M
29            30   F
...          ...  ..
35519      35520   0
35520      35521   M
35521      35522   F
35522      35523   F
35523      35524   F
35524      35525   M
35525      35526   F
35526      35527   F
35527      35528   0
35528      35529   F
35529      35530   F
35530      35531   F
35531      35532   F
35532      35533   F
35533      35534   M
35534      35535   M
35535      35536   F
35536      35537   F
35537      35538   F
35538      35539   M
35539      35540   F
35540      35541   F
35541      35542   F
35542      35543   F
35543      35544   0
35544      35545   0
35545      35546   0
35546      35547   F
35547      35548   M
35548      35549   0

[35549 rows x 2 columns]

## 3. Math

In [24]:
df.mean()

record_id          17775.000000
month                  6.474022
day                   16.105966
year                1990.475231
plot_id               11.397001
hindfoot_length       25.900982
weight                38.751976
dtype: float64

In [25]:
df.iloc[0:5,[0,1,4]] ** 2 # squares everything

   record_id  month  plot_id
0          1     49        4
1          4     49        9
2          9     49        4
3         16     49       49
4         25     49        9

In [26]:
df.loc[:,['year','weight']].groupby(['year']).sum()

       weight
year
1977  12409.0
1978  58947.0
1979  40443.0
1980  82245.0
1981  89416.0
1982  98983.0
1983  85740.0
1984  44841.0
1985  61917.0
1986  46961.0
1987  75006.0
1988  59789.0
1989  51451.0
1990  42899.0
1991  39217.0
1992  30062.0
1993  22002.0
1994  19277.0
1995  32070.0
1996  45611.0
1997  76832.0
1998  48583.0
1999  39241.0
2000  46713.0
2001  52662.0
2002  74277.0

## 4. Questions / comments

1. How can we insert a new column?

In [27]:
df.insert(loc=0, column='newColumn',allow_duplicates=True, value=df.iloc[:,1])
df

,newColumn,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,7,1,7,16,1977,2,NL,M,32.0,0.0
1,7,2,7,16,1977,3,NL,M,33.0,0.0
2,7,3,7,16,1977,2,DM,F,37.0,0.0
3,7,4,7,16,1977,7,DM,M,36.0,0.0
4,7,5,7,16,1977,3,DM,M,35.0,0.0
5,7,6,7,16,1977,1,PF,M,14.0,0.0
6,7,7,7,16,1977,2,PE,F,0.0,0.0
7,7,8,7,16,1977,1,DM,M,37.0,0.0
8,7,9,7,16,1977,1,DM,F,34.0,0.0
9,7,10,7,16,1977,6,PF,F,20.0,0.0
10,7,11,7,16,1977,5,DS,F,53.0,0.0
11,7,12,7,16,1977,7,DM,M,38.0,0.0
12,7,13,7,16,1977,3,DM,M,35.0,0.0
13,7,14,7,16,1977,8,DM,0,0.0,0.0
14,7,15,7,16,1977,6,DM,F,36.0,0.0
15,7,16,7,16,1977,4,DM,F,36.0,0.0
16,7,17,7,16,1977,3,DS,F,48.0,0.0
17,7,18,7,16,1977,2,PP,M,22.0,0.0
18,7,19,7,16,1977,4,PF,0,0.0,0.0
19,7,20,7,17,1977,11,DS,F,48.0,0.0
20,7,21,7,17,1977,14,DM,F,34.0,0.0
21,7,22,7,17,1977,15,NL,F,31.0,0.0
22,7,23,7,17,1977,13,DM,M,36.0,0.0
23,7,24,7,17,1977,13,SH,M,21.0,0.0
24,7,25,7,17,1977,9,DM,M,35.0,0.0
25,7,26,7,17,1977,15,DM,M,31.0,0.0
26,7,27,7,17,1977,15,DM,M,36.0,0.0
27,7,28,7,17,1977,11,DM,M,38.0,0.0
28,7,29,7,17,1977,11,PP,M,0.0,0.0
29,7,30,7,17,1977,10,DS,F,52.0,0.0
...,...,...,...,...,...,...,...,...,...,...
35519,12,35520,12,31,2002,9,SF,0,24.0,36.0
35520,12,35521,12,31,2002,9,DM,M,37.0,48.0
35521,12,35522,12,31,2002,9,DM,F,35.0,45.0
35522,12,35523,12,31,2002,9,DM,F,36.0,44.0
35523,12,35524,12,31,2002,9,PB,F,25.0,27.0
35524,12,35525,12,31,2002,9,OL,M,21.0,26.0
35525,12,35526,12,31,2002,8,OT,F,20.0,24.0
35526,12,35527,12,31,2002,13,DO,F,33.0,43.0
35527,12,35528,12,31,2002,13,US,0,0.0,0.0
35528,12,35529,12,31,2002,13,PB,F,25.0,25.0
35529,12,35530,12,31,2002,13,OT,F,20.0,0.0
35530,12,35531,12,31,2002,13,PB,F,27.0,0.0
35531,12,35532,12,31,2002,14,DM,F,34.0,43.0
35532,12,35533,12,31,2002,14,DM,F,36.0,48.0
35533,12,35534,12,31,2002,14,DM,M,37.0,56.0
35534,12,35535,12,31,2002,14,DM,M,37.0,53.0
35535,12,35536,12,31,2002,14,DM,F,35.0,42.0
35536,12,35537,12,31,2002,14,DM,F,36.0,46.0
35537,12,35538,12,31,2002,15,PB,F,26.0,31.0
35538,12,35539,12,31,2002,15,SF,M,26.0,68.0
35539,12,35540,12,31,2002,15,PB,F,26.0,23.0
35540,12,35541,12,31,2002,15,PB,F,24.0,31.0
35541,12,35542,12,31,2002,15,PB,F,26.0,29.0
35542,12,35543,12,31,2002,15,PB,F,27.0,34.0
35543,12,35544,12,31,2002,15,US,0,0.0,0.0
35544,12,35545,12,31,2002,15,AH,0,0.0,0.0
35545,12,35546,12,31,2002,15,AH,0,0.0,0.0
35546,12,35547,12,31,2002,10,RM,F,15.0,14.0
35547,12,35548,12,31,2002,7,DO,M,36.0,51.0
35548,12,35549,12,31,2002,5,0,0,0.0,0.0

2. How can we change the data type of a column?  
[See here.](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.astype.htmlF)

3. How can we remove NaNs?

In [28]:
pd.isnull(df).any(1).nonzero()[0]
# this gives us rows that contain at least one NaN.

array([], dtype=int64)

In [29]:
# Above command broken down to understand what was going on.
a=pd.isnull(df).any(1)
a.nonzero()

(array([], dtype=int64),)

In [30]:
# Another way to remove NaN values.
df.loc[:,['day','month','year']].dropna()

       day  month  year
0       16      7  1977
1       16      7  1977
2       16      7  1977
3       16      7  1977
4       16      7  1977
5       16      7  1977
6       16      7  1977
7       16      7  1977
8       16      7  1977
9       16      7  1977
10      16      7  1977
11      16      7  1977
12      16      7  1977
13      16      7  1977
14      16      7  1977
15      16      7  1977
16      16      7  1977
17      16      7  1977
18      16      7  1977
19      17      7  1977
20      17      7  1977
21      17      7  1977
22      17      7  1977
23      17      7  1977
24      17      7  1977
25      17      7  1977
26      17      7  1977
27      17      7  1977
28      17      7  1977
29      17      7  1977
...    ...    ...   ...
35519   31     12  2002
35520   31     12  2002
35521   31     12  2002
35522   31     12  2002
35523   31     12  2002
35524   31     12  2002
35525   31     12  2002
35526   31     12  2002
35527   31     12  2002
35528   31     12  2002
35529   31     12  2002
35530   31     12  2002
35531   31     12  2002
35532   31     12  2002
35533   31     12  2002
35534   31     12  2002
35535   31     12  2002
35536   31     12  2002
35537   31     12  2002
35538   31     12  2002
35539   31     12  2002
35540   31     12  2002
35541   31     12  2002
35542   31     12  2002
35543   31     12  2002
35544   31     12  2002
35545   31     12  2002
35546   31     12  2002
35547   31     12  2002
35548   31     12  2002

[35549 rows x 3 columns]